/* added colours and other variables used across the css to root element */
:root{
    --background-color: #fff6f0;
    --black-text: #000000;
    --darkblue-border: #165781;
    --darkblue-border-faded: rgb(22, 87, 129,0.5);
    --another-blue: #b5e1e9;
    --gradient-orange: #e4b3f3;
    --heading-weight: 600;
    --smooth-transition: all 0.5s ease-in-out;
    --max-size: 100%;
}

/* all element selector for global style definition */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Style for html element */
html{
    border: 5px solid var(--darkblue-border-faded);
    scroll-behavior: smooth;
}

/* overall body element style definition */
body{
    width: var(--max-size);
    height: auto;
    min-height: 100vh;
    max-width: 1140px;
    margin: 0 auto 0 auto;
    padding: 0px 0.7rem 30px 0.7rem;
    font-family: 'Fredoka', sans-serif;
    background-color: var(--background-color);
    color: var(--black-text);
    line-height: 1.15;
    display: flex;
    flex-direction: column;
}

/* Header section style */
header{
    margin: 10px auto;
    width: var(--max-size);
}
/* header link style definition */
header li{
    list-style-type: none;
    display: inline-block;
}

/* website logo style */
#short{
    border: 5px solid var(--darkblue-border);
    text-decoration: none;
    color: var(--black-text);
    padding: 10px 6px;
    transition: var(--smooth-transition);
}
/* Website logo and resume button on hover style */
#short:hover,
#resume:hover{
    background-color: var(--darkblue-border);
    color: var(--background-color);
    text-decoration: none;
    transition: var(--smooth-transition);
}

/* Navigation bar link style */
.nav-link{
    text-decoration: none;
    color: var(--black-text);
    font-size: 1.5rem;
    margin: 0 1.8vw;
    font-weight: 500;
}
.nav-link:hover{
    color: var(--darkblue-border);
    text-decoration: underline;
    transition: all 0.2s linear;
}
/* resume link style */
#resume{
    color: var(--darkblue-border);
    border: 4px solid var(--darkblue-border);
    border-radius: 15px;
    padding: 0 0.3vw;
}

/* Main section style definition containing main content */
main{
    display: flex;
    flex-direction: column;
    margin: 10vh auto 2vh auto;
    width: var(--max-size);
}

/* Intro section box style */
.container,
.contact-logos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* Left and right box in intro section flex style */
.left-text{
    flex: 2 1 65%;
}
.right-image{
    flex: 1 5 35%;
}
/* Display picture style */
.icon{
    height: 33vw;
    max-height: 350px;
    width: auto;
    border: 5px dotted var(--darkblue-border);
    border-radius: 50%;
    padding: 2px;
}

/* Class selector for all parent containers (About me, projects and contact) */
.content-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-heading,
#text-link{
    background-image: linear-gradient(120deg, var(--gradient-orange),var(--another-blue) var(--max-size));
    background-repeat: no-repeat;
    background-size: var(--max-size) 0.2em;
    background-position: 0 80%;
    transition: background-size 0.25s ease-in;
    margin-bottom: 2vh;
}
.container-heading:hover,
#text-link:hover{
    background-size: var(--max-size) 88% !important;
}

/* Projects section element style */
.projects,
.small-projects{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: var(--max-size);
    height: var(--max-size);
}
.projects a,
#text-link{
    color: var(--black-text);
    text-decoration: none;
}
/* Main project section style */
#main-project{
    flex: 1 1 55%;
}
/* small projects section style */
.small-projects{
    height: var(--max-size);
    width: auto;
    flex: 1 1 45%;
    margin-left: 2%;
    flex-wrap: wrap;
}
.small-projects figure{
    margin: 3% auto;
    flex: 1 1 50%;
}
/* Main and Small project section figure caption and image style */
/* On figure hover scale up figure caption */
#main-project:hover figcaption,
.small-projects figure:hover figcaption{
    transform: scale(1.1,1.1);
    color: var(--darkblue-border);
    transition: var(--smooth-transition);
}
#main-project figcaption,
.small-projects figure figcaption{
    font-size: 1.3rem;
    margin: 3% auto 0 auto;
}
#main-project img,
.small-projects img{
    width: var(--max-size);
    height: auto;
    box-shadow: 0 0 15px 1px gray;
    transition: var(--smooth-transition);
}
/* Image on hover add shadow */
#main-project img:hover,
.small-projects img:hover{
    box-shadow: 0 0 30px 5px var(--darkblue-border);
    transform: scale(1.02,1.02);
    transition: var(--smooth-transition);
}

/* Text elements style declaration */
h1,h2,h3{
    font-weight: var(--heading-weight);
}
h1{
    font-size: 3.8rem;
}
h2{
    font-size: 3rem;
}
h3{
    font-size: 2rem;
}
p{
    font-size: 1.6rem;
    font-weight: 400;
}
#center,
#subheading{
    text-align: center;
}
#subheading{
    margin-left: 30px;
}

/* changing colour of Name and footer */
.name,
footer{
    color: var(--darkblue-border);
}

/* Break line style between each section */
.break{
    margin: 5vh auto 2vh auto;
    width: var(--max-size);
    border: 2px solid var(--darkblue-border);
    border-radius: 10px;
}

/* Contact us logo section element style */
.contact-logos{
    justify-content: space-around;
    width: var(--max-size);
    flex-wrap: wrap;
}
.contact-logos a img{
    height: 5em;
    filter: grayscale(var(--max-size));
    transition: all 0.2s ease-in-out;
}
.contact-logos a img:hover{
    transform: scale(1.1,1.1);
    filter: grayscale(0%);
    transition: var(--smooth-transition);
}

/* Wave hover animation */
#wave:hover {
    animation-name: wave-animation;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;  /* Never stop waving :) */
    transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
    display: inline-block;
}

/* Heart hover animation */
#heart:hover {
    animation-name: heart-animation;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    display: inline-block;
}

/* Keyframes for wave emoji animation */
@keyframes wave-animation {
      0% { transform: rotate( 0.0deg) }
     10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
     20% { transform: rotate(-8.0deg) }
     30% { transform: rotate(14.0deg) }
     40% { transform: rotate(-4.0deg) }
     50% { transform: rotate(10.0deg) }
     60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
    100% { transform: rotate( 0.0deg) }
}
/* Keyframes for heart expansion animation */
@keyframes heart-animation {
    0% {transform: scale(1,1)}
    90% {transform: scale(1.6,1.6)}
    100% {transform: scale(1,1)}
}

/* Media section to re-style elements at tablet width */
@media screen and (max-width:768px){
    .container{
        flex-direction: column;
    }
    .icon{
        height: 50vw;
        max-height: 350px;
        min-height: 250px;
        margin-bottom: 30px;
    }
    .left-text{
        flex: 1 1 100%;
        order: 2;
    }
    .right-image{
        flex: 1 1 100%;
        order: 1;
    }
    main{
        margin: 5vh auto 2vh auto;
    }
    .projects{
        flex-direction: column;
    }
    #main-project,
    .small-projects{
        flex: 1 1 100%;
        margin-left: 0;
    }
    .small-projects{
        margin-top: 1.3vw;
    }
    .nav-link{
        margin: 0 1.1vw;
    }
}

/* Media section to re-style elements at mobile width */
@media screen and (max-width:480px){
    ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    li{
        margin: 1.2vw 0;
    }
    .icon{
        height: 70vw;
        min-height: 100px;
    }
    .small-projects{
        flex-direction: column;
    }
}